body{
    font-family: 'Roboto', sans-serif;
}

.pr{
    position:absolute;
    right: 30px;
    top: 30px;
}

.topo{
    font-size: 40px;
}

.pg{
    font-size: 30px;
}

.tudo{
    display: flex;
    justify-content: center;
}

.red{
    background-color: red;
    width: 100px;
    height: 100px;
    margin-top: 60px;
    border-radius: 50%;
    margin-left: 50px;
}

.green{
    background-color: rgb(59, 241, 59);
    width: 100px;
    height: 100px;
    margin-top: 60px;
    border-radius: 50%;
    margin-left: 50px;
}

.blue{
    background-color: rgb(38, 38, 255);
    width: 100px;
    height: 100px;
    margin-top: 60px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
}

.tudo2{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.tudo3{
    display: flex;
    justify-content: space-around;
}